extends ../layout/base.pug

block style
  link(rel="stylesheet" href="/static/css/pages/home.css")

block main
  include ../components/profile.pug
  hr.divider-line
  aside#blog-tag-aside
    #blog-tag-title Hashtag
    ul#blog-tag-list
      for tag in tags
        - const tagHref = `/?tag=${tag.name}`
        li
          if tag.name === currentTag
            a.blog-tag.blog-current-tag(href=tagHref) #{tag.name} (#{tag.blogs})
          else
            a.blog-tag(href=tagHref) #{tag.name} (#{tag.blogs})
  section#blog-list-section
    if blogs.length === 0
      #empty-message
        h3=emptyMessage
        h4 비공개 게시물은 볼 수 없습니다.
    for blog in blogs
      .blog-item(onclick=`location.href='/blog/${blog.slug}';`)
        .blog-item-date
          span=blog.createdAt
          if hasPermission && blog.isPrivate
            img(class="blog-private-image", src="/static/images/private.svg", alt="is-private")
        .blog-item-title=blog.title
        .blog-item-description=blog.description
        //- 블로그에 해당하는 태그들 issue #13
        //- ul.blog-tag-list-self
        //-   for blogTag in blog.tags
        //-     li
        //-       a.blog-tag-self(href=`/?tag=${blogTag.name}`) ##{blogTag.name}
      hr.divider-line

  include ../components/pagination.pug

  aside#blog-tag-aside-bottom 
    ul#blog-tag-list-bottom
      for tag in tags
        li
          if tag.name === currentTag
            a.blog-tag.blog-current-tag(href=`/?tag=${tag.name}`) ##{tag.name}
          else
            a.blog-tag(href=`/?tag=${tag.name}`) ##{tag.name} 


